.switch {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: text-top;
}

.switch-label {
    color: #aaa;
    position: relative;
    z-index: 2;
    float: left;
    width: 68px;
    line-height: 28px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
}

.switch-input[type="radio"]:checked+.switch-label{
    color: #000;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 70px;
    /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 66px;
    height: 24px;
    border-radius: 3px;
    background-color: #eeeeee;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    transition: left 0.15s ease-out;
}